@using ContactsApp_Web.Components.Contacts

@page "/"
@rendermode InteractiveServer

<PageTitle>Kontakty</PageTitle>

<h1>Kontakty</h1>

<ContactsList />
<NavLink class="btn btn-primary" href="/NewContact">
    Dodaj kontakt
</NavLink>