@using ContactsApp_Web.Components.Contacts
@using ContactsApp_Web.States

@page "/EditContact"
@rendermode InteractiveServer

<PageTitle>Edycja kontaktu</PageTitle>

<h1>Edycja kontaktu</h1>

<EditableContact
    IsNewContact="false"
/>
