@using ContactsApp_Web.Components.Authentication

@page "/Register"
@rendermode InteractiveServer

<PageTitle>Rejestracja</PageTitle>

<h1>Rejestracja</h1>

<EmailPasswordForm RegisterAction="true" />