@rendermode InteractiveServer

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Lp.</th>
        <th scope="col">Imię i nazwisko</th>
        <th scope="col">Kategoria (Podkategoria)</th>
        <th scope="col">Telefon</th>
        <th scope="col">Akcje</th>
    </tr>
    </thead>
    <tbody>
    @if (AppState.Contacts != null)
    {
        @foreach (var (contact, index) in AppState.Contacts.Select((contact, index) => (contact, index)))
        {
            <ContactOverview
                Index=@index
                Contact=@contact
            />
        }
    }
    </tbody>
</table>