@rendermode InteractiveServer


<div class="d=flex flex-wrap">
    <div class="d-flex w-100">
        <div class="d-flex flex-wrap p-2 w-50">
            <div class="d-flex w-100 p-2">
                <label class="d-flex w-50" for="email">E-mail</label>
                <input class="d-flex w-50" type="email" id="email" @bind="_email"/>
            </div>
            <div class="d-flex w-100 p-2">
                <label class="d-flex w-50" for="password">Password</label>
                <input class="d-flex w-50" type="password" id="password" @bind="_password"/>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 p-2">
        @if (RegisterAction)
        {
            <a class="d-flex w-25 btn btn-primary" @onclick="RegisterAsync">
                Zarejestruj się
            </a>
        }
        else
        {
            <a class="d-flex w-25 btn btn-primary" @onclick="LoginAsync">
                Zaloguj się
            </a>
        }
    </div>
    <div class="d-flex w-100 p-2">
        @if (_isError)
        {
            <span class="d-flex w-25 bg-danger p-2 text-light">
                Błąd
            </span>
        }
        @if (_isSuccess)
        {
            <span class="d-flex w-25 bg-success p-2 text-light">
                Sukces
            </span>
        }
    </div>
</div>
